
li { float:left; }
h1{
font-family: sans-serif;
text-align:  center;
}
p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
ol {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.box{
    width: 250px;
    padding: 10px;
    margin: 10px;
    display:inline-block;
    vertical-align: top;
}
@media screen and (max-width:600px){
    content{width:100%;}
}
.button {
    background-color: #44b847; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
